@model IEnumerable<Lowballers.Models.Category>
@{
    ViewData["Title"] = "Shop the Lowballers Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shop the Lowballers Store</h1>

<ul>
   @* <li><a asp-controller="Store" asp-action="Browse" asp-route-category="Category 1">Category 1</a></li>
    <li><a asp-controller="Store" asp-action="Browse" asp-route-category="Category 2">Category 2</a></li>
    <li><a asp-controller="Store" asp-action="Browse" asp-route-category="Category 3">Category 3</a></li>*@

    @foreach(var c in Model)
    {

        <li>
            <div>
                <a asp-controller="Store" asp-action="Browse" asp-route-category="@c.Name">@c.Name</a>
            </div>
        </li>
    }
</ul>
